@tailwind base;
@tailwind components;
@tailwind utilities;

model-viewer {
    --poster-color: transparent;
}

.q-ds-spinner {
    animation: rotate 2s linear infinite;
}

.q-ds-spinner-path {
    animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

/* override styles when printing */
@media print {
    body {
        margin: 0mm 15mm 15mm 15mm !important;
        color: #000 !important;
        background-color: #fff !important;
    }
}

/* override markdown editor toolbar height  */
.w-md-editor-toolbar {
    height: auto !important
}

.react-select input {
    box-shadow: none !important;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}